/* About.css */

.about {
    padding: 80px 20px;
    background: #ffffff; /* Fondo blanco para contraste */
    color: #333333; /* Color de texto oscuro para buena legibilidad */
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6e45e2; /* Color similar al del header para coherencia */
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #000000; /* Color negro para el texto específico */
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1rem;
    background-color: #ff6b6b; /* Fondo del skill */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
  }  